html {
    font-size: 62.5%;
}

body {
    background-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 3.5em;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

header {
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    font-size: 1.1rem;
    box-shadow: 0.2rem 0.1rem 0rem 0.1rem rgba(0, 0, 0, 0.3);
}

#btn_retour {
    border: none;
}

#mode {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.4rem 0.2rem 0.2rem 0.2rem;
    border-radius: 12rem;
    font-size: 1.6rem;
    text-align: center;
    border: none;
}

#box-titre {
    height: 15vh;
    text-align: left;
    color: #a52a2a;
    padding: 1rem;
    padding-bottom: 0;
}

.questions {
    font-size: 2em;
}

#box-text {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    width: 80%;
    height: fit-content;
    text-align: center;
    padding: 2rem 3rem;
    color: #000;
    background-color: rgba(0, 0, 0, 0.374);
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.1rem 0.1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

/*#text {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 2rem 3rem;
    background-color: rgba(255, 255, 255, 0.59);
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}*/


.text {
    min-width: 20rem;
    min-height: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#texte,
#verset {
    font-size: clamp(1.4rem, 1.8rem, 2.4rem);
    letter-spacing: 0.1rem;
}

hr {
    width: 48%;
    margin: 0.2rem auto 0.3rem auto;
    border-color: #a52a2a;
    border-width: 0.1rem;
}

button {
    color: #fff;
    padding: 1rem 1.3rem;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
    background-color: #a52a2a;
}

button:active {
    transform: scale(0.9);
}

#navigate {
    padding: 1rem;
}

#navigate button {
    width: 9rem;
    font-size: 1.1rem;
    box-shadow: 0.2rem 0.1rem 0rem 0.1rem rgba(0, 0, 0, 0.3);
}

#previous {
    float: left;
}

#next {
    float: right;
}

footer {
    font-size: 1.7rem;
    text-align: center;
    color: #000000ce;
    padding: 0.5rem 1rem;
    background-color: rgba(165, 42, 42, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*.auto_write {
    overflow: hidden;
    white-space: inherit;
    animation: ecrire 5s steps(40) 1;
}

@keyframes ecrire {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}*/

@media screen and (max-width: 450px) {
    #text {
        width: 90%;
        padding: 1rem 2rem;
    }

    .text {
        min-width: 10rem;
        min-height: 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    button {
        color: #fff;
        padding: 0.8rem 1.1rem;
        cursor: pointer;
        transition: 0.4s;
        font-size: 1rem;
        background-color: #a52a2a;
    }
}